<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to My Website</h1>
  </div>
  <div>
    <button type="button" class="btn btn-success"><a href="/about">Learn more about me </a></button>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>