<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-lg-4">
      <h2 class="title">My services</h2>
      <div class="serv-content">
        <div class="card">
          <div class="box">
            <i class="fas fa-paint-brush " style="font-size: 50px;"></i>
            <div class="text">Web Design</div>
            <p> Creating the design and layout of a website or web pages</p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <i class="fas fa-chart-line" style="font-size: 50px;"></i>
            <div class="text">Advertising</div>
            <p>To improve your site's visibility to search engines and their users – in other words, it can help your
              site show up more often in relevant searches.</p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <i class="fas fa-code" style="font-size: 50px;"></i>
            <div class="text">Apps Design</div>
            <p>overall style of the app including the colors, fonts, and general look and feel</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>